<div class="container">
<a class="btn btn-secondary" routerLink="/product-add" style="margin-top: 20px;">Add New Product</a>
<br /><br />
<table class="table table-striped">
    <tbody>
        <tr *ngFor="let product of products;let rowIndex=index">
            <td><img src="{{product.image}}" /></td>
            <td>Code : {{product.code}}</td>
            <td>Name : {{product.name}}</td>
            <td>Price : ${{product.price}}</td>
            
            <td>
                <a class="btn btn-secondary" [routerLink]="['/product-detail', product._id]">View Details</a>
            </td>
            <hr>
        </tr>
    </tbody>
</table>
</div>
