<div class="card text-center container" style="margin-top: 30px;background-color: rgba(220, 231, 225, 0.222);opacity: 0.8;">
    <!-- <div class="card-header">
        {{company.name}}
    </div> -->
    <div class="card-body">
        <h5 class="card-title">Company Name: {{company.name}}</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    </div>
    <div class="card-footer text-muted">
        <button class="btn btn-secondary" (click)="goBack()">Go Back</button> |
        <a class="btn btn-secondary" [routerLink]="['/company-edit', company._id]">Update</a> |
        <button class="btn btn-secondary" (click)="deleteCompanyById(company._id)">Delete</button>
    </div>
</div>